@page
@model IndexModel
@{
    ViewData["Title"] = "Jelovnik";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli u naš jelovnik</h1>
    <form method="post">
        <div class="card-columns">
            @foreach (var jelo in Model.Jela)
            {
                <div class="card">
                    <div class="card-img" style="background-image: url('@jelo.Slika');">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@jelo.Naziv</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <button type="submit" class="btn btn-primary" asp-page-handler="NaruciGa">
                                Naruči
                            </button>
                        </small>
                    </div>
                </div>

            }
        </div>
    </form>
</div>
